<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<string>35.165964</string>
		<key>longitude</key>
		<string>129.072543</string>
		<key>title</key>
		<string>동의과학대학교</string>
		<key>subtitle</key>
		<string>We Are DIT</string>
	</dict>
	<dict>
		<key>latitude</key>
		<string>35.1681824</string>
		<key>longitude</key>
		<string>129.0556455</string>
		<key>title</key>
		<string>부산 시민공원</string>
		<key>subtitle</key>
		<string>부산의 랜드마크</string>
	</dict>
	<dict>
		<key>latitude</key>
		<string>35.147919</string>
		<key>longitude</key>
		<string>129.130123</string>
		<key>title</key>
		<string>광안대교</string>
		<key>subtitle</key>
		<string>부산의 랜드마크</string>
	</dict>
	<dict>
		<key>latitude</key>
		<string>35.0517554</string>
		<key>longitude</key>
		<string>129.0856113</string>
		<key>title</key>
		<string>태종대</string>
		<key>subtitle</key>
		<string>해변 전망대가 있는 고지대 공원</string>
	</dict>
</array>
</plist>
